@import '../_variables.scss';

.categories {
  ul {
    display: flex;

    row-gap: 30px;

    @media (max-width: 1004px) {
      gap: 30px;
    }
    @media (max-width: 450px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 16px; /* Расстояние между элементами */
      overflow-x: scroll;
      white-space: nowrap;
      max-width: 420px;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      width: 140px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      @media (max-width: 450px) {
        padding: 10px 25px;
      }
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
